.title {
  font-size: 3.2vmin;
  text-align: center;
}

.input,
button {
  display: block;
  margin: 10px auto;
}

.p {
  font-size: 14px;
  text-align: center;
}

.title_left {
  font-size: 3.2vmin;
  text-align: left;
}
