.link {
  display: block;
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
  color: #2a363b;
}

.activeLink {
  display: block;
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
  color: #e84a5f;
}

.AuthNav {
  display: flex;
}
