body {
  margin: 0;
  font-family: 'Amazon Ember', 'Helvetica Neue Light', 'Helvetica Neue',
    'Helvetica', 'Arial', 'sans-serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  padding-inline-start: 0;
}
p {
  margin-bottom: 0;
}
